.loginCon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  
    .content {
      
      padding: 20px;
      width: 400px;
      text-align: center;
  
      .headText {
        display: flex;
        flex-direction: column;
        gap: 30px;
        h1 {
          
          color: #333;
        }
  
        .other {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          .MuiTextField-root {
            margin-bottom: 20px;
          }
  
          .button {
            margin: 24px 0 0;
            padding: 16px 4px;
            background-color: #EB5757;
            color: #fff;
            
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 100%;
            font-size: 18px;

  
            &:hover {
              background-color: #c82d2d;
            }
          }
  
          p {
            margin-top: 20px;
            color: #666;
  
            a {
              color: #EB5757;
              text-decoration: none;
  
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  