.contentApp{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contentSearch{
        width: 100%;
        &.sticky{
            position: sticky;
            top: 0;
            z-index: 999;
            background-color: #fff;
        }
    }
    hr{
        background-color: rgb(238, 238, 238);
        height: 8px;
        width: 100%;
        border: none;
        margin: 0 -16px;
    }
    @media (min-width: 900px) {
        padding: 0 40px;
        .contentSearch{
            display: none;
        }
        hr{
            margin-top: 24px;
            background-color: #E2E2E2;
            height: 1px;
        }
    }
}