.searchBarCont{
    width: 100%;
    padding: 8px 0;
    display: flex;
    
    
    .searchBar{
        margin: 16px;
        padding: 16px;
        display: flex;
        width: 100%;
        align-items: center;
        gap: 12px;
        background: #EEEEEE;
        border-radius: 500px;
        box-sizing: border-box;
        height: 48px;
        form{
            width: 100%;
            input{
                font-size: 16px;
                font-family: UberMoveText, sans-serif;
                line-height: 24px;
                font-weight: 500;
                width: 100%;
                background: transparent;
                border: none;
                outline: none;
                
            }
        }
    }
}